#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.App-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
}


.title {
  font-size: 100px;
  font-weight: 900;
  background: #0455CF;
  background: linear-gradient(to right, #0455CF 0%, #30C4CF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



